* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header, footer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-shrink: 0;
}

header {
    background-color: #fff;
    width: 100%;
    height: fit-content;
    padding: 15px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: #000;
    padding: 10px;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
}

#search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    font-size: 13px;
}

#search-input  {
    width: 100%;
    color: #afafaf;
    padding: 8px 30px 8px 8px;
    border: 1px solid #afafaf;
    box-sizing: border-box;
}

#search-button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 8px 4px 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#search-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

#dropdown {
    overflow: hidden;
}

#dropdown-menu-button {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#dropdown-menu-button svg {
    width: 28px;
    height: 28px;
    fill: currentColor;
    cursor: pointer;
}

#dropdown-menu-content {
    display: none;
    position: absolute;
    background-color: #0000009f;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-menu-content a {
    float: none;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

#dropdown-menu-content a:hover, #dropdown-menu-content a:active {
    color: #fff;
    background-color: #afafaf;
}

#dropdown:hover #dropdown-menu-content {
    display: block;
}

#footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    justify-items: center;
    padding: 20px;
    margin: 0px;
}

#footer-logo {
    margin-left: 12%;
}

#footer-menu {
    margin-left: 12%;
    font-size: 16px;
}

.menu-item {
    list-style-type: none;
    padding: 10px 20px 10px 20px;
}

.menu-item>a {
    color: #fff;
    text-decoration: none;
}

main {
    background-image: url(../images/fluid_gradient_background.png);
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 18% 5% 18%;
}

#main-content {
    padding: 0 20% 0 20%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
}

#main-header, #main-paragraph {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

#main-header {
    font-family: Asap Condensed, Calibri, sans-serif;
    font-weight: 400;
    font-size: 48px;
}

#items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    vertical-align: middle;
    margin: 30px 0 15px 0;
}

.item-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    padding: 20px;
}

.item-block-header {
    font-size: 28px;
    font-weight: 200;
    margin: 0;
}

.item-block-paragraph {
    font-size: 16px;
    color: #afafaf;
    font-style: italic;
    margin: 0;
}

.item-block-button {
    font-size: 14px;
    color:#fff;
    background-color: #dd0356;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: none;
    width: fit-content;
    margin-top: auto;
    margin-bottom: 30px;
}

.item-block-icon {
    height: 70px;
    width: fit-content;
}

@media screen and (max-width: 1200px) {
    main {
        padding: 10% 12% 5% 12%;
    }

    #main-content {
        padding: 0;
    }
}

@media screen and (max-width: 435px){
    header {
        justify-content: center;
    }

    #dropdown {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #items {
        grid-template-columns: 1fr;
    }

    #footer-nav {
        display: none;
    }

    #main-header {
        font-size: 35px;
    }

    #main-paragraph {
        font-size: 16px;
    }

    .item-block-header {
        font-size: 24px;
    }

    .item-block-paragraph {
        font-size: 16px;
    }

    .item-block-button {
        margin-bottom: 15px;
    }
}